<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typescript 😃 Mongoose</title>
    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon">
    <style>
        body {
            max-width: 100rem;
            margin: 0 auto;
            background-color: #2e2e2e;
            color: #cacaca;
            font-size: 1.5rem;
        }

        h1 {
            font-size: 3.5rem;
        }

        .sub-title {
            font-size: 2rem;
        }
    </style>
</head>

<body>
    <h1>🔥 Backend with Typescript & Mongoose 🔥</h1>
    <p class="sub-title">
        I am excited to share my ongoing project - the Backend developed using Typescript and Mongoose. This
        venture represents a commitment to creating a robust and scalable backend infrastructure for applications that
        demand high performance and maintainability.
    </p>
</body>

</html>